body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  position: relative;
}

.sidebar {
  width: 250px;
  background-color: #13293D;
  color: #fff;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto; 
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  margin-left: ;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  padding: 5px 5px 5px 20px;
  display: block;
}

.sidebar a:hover {
  background-color: #006494;
}

.content {
  flex: 1;
  background: linear-gradient(to bottom, #bcd0fd, #75bcce);
  padding-left: 250px;
  width: 80%;
}

.profile-section {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background: url('/assets/leo.jpeg') no-repeat center center/cover;
  border: 5px solid #ffffff;
  box-shadow: 0 0 15px rgb(0, 255, 242);
}

.profile-info h2 {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.social-section {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links {
  display: flex;
  justify-content: center;
  
}

.social-links a {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0;
  overflow: hidden;
}

.social-links img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos para o menu */
.menu-section {
  margin-top: 20px;
}

.menu-section ul {
  list-style: none;
  padding: 0;
}

.menu-section ul li {
  margin-bottom: 10px;
}

.menu-section ul li a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.menu-section ul li a .icon {
  margin-right: 10px;
}

.menu-section ul li a span {
  margin-left: 10px;
}


/* Estilos para o conteúdo */
.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-left,
.content-right {
  flex: 1;
}

.content-left h1 {
  margin: 0;
  color: #000000;
  margin-bottom: 5px;
  font-size: 60px;
}

.content-left h3,
.content-left h4 {
  margin-bottom: 5px;
  color: #636363;
}

.content-left span {
  margin-bottom: 25px;
  font-size: 30px;
}

.content-left {
  text-align: left;
  align-self: flex-start;
  background-color: #ffffffc2;
  height: 400px;
}

.content-right {
  text-align: right;
  background-color: #1252c7;
  height: 400px;
}

.content-right img {
  max-width: 100%;
  height: auto;
}


/* Estilo Textos */
.inicio p:nth-child(1)
{
	font-family: calibri;
	font-weight: bold;
	color: #6d6d6d;
	font-size: 22px;
  margin-top: 0;
  margin-bottom: 5px;
}

.inicio p:nth-child(2)
{
	font-family: calibri;
	font-weight: bold;
	letter-spacing: 1px;
	color: #000;
	font-size: 60px;
  margin-top: 0;
  margin-bottom: 5px;
}

.inicio p:nth-child(3)
{
	font-family: myriad pro regular;
	color: #403e3e;
	font-size: 30px;
	line-height: 30px;
  margin-top: 0;
  margin-bottom: 25px;
}




button {
  margin: 3px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  background: #39b500 0%;
  font-weight: 100;
  font-size: 14px;
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  
}

.button:hover{
background:#c0c700;
color: #ffffff;
border: none;
}



.inicio{
  padding: 30px;
}


/* Estilo Imagem Sobre eu */

.conteudo-sobre {
  width: 95%;
  height: 330px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  display: flex;
  margin: -7% auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}
.conteudo-sobre img
{
	height: 250px;
  
}

.texto-sobre 
{
	width: 750px;
}

.cotexto-sobre  p:nth-child(1)
{
	color: #201f1f;
	font-family: myriad pro;
	font-weight: bold;
	font-size: 30px;
	line-height: 0px;
  
}

.texto-sobre  p:nth-child(2)
{
	color: #201f1f;
	font-size: 16px;
	font-family: myriad pro;
	font-weight: bold;
	line-height: 5px;
}

.texto-sobre p:nth-child(3),
.texto-sobre p:nth-child(4)
{
	color: #201f1f;
	font-family: calibri;
	font-size: 16px;
}

.texto-sobre button
{
	width: 120px;
	height: 40px;
	color: #ffffff;
	outline: none;
	border:none;
	font-family: calibri;
	background-color: #262525;
}


/* Seção de Serviços  */

.servicos
{
	height: 600px;
	background-color: #f1d763;

}

.servicos-textos p:nth-child(1)
{
	font-family: calibri;
	font-weight: bold;
	color: #3e3d3d;
	font-size:30px;
	line-height: 0px;

}

.servicos-textos p:nth-child(2)
{
	font-family: calibri;
	font-weight: bold;
	color: #3e3d3d;
	font-size:15px;
	line-height: 5px;

}

.servicos-textos p:nth-child(3)
{
	font-family: calibri;
	color: #7e7d7d;
	
}

 .servicos-textos
{
	width: 500px;
	margin: 50px 0px 0px 50px;
	
}

.box1, .box2, .box3, .box4
{
	width: 260px;
	height: 320px;
  background-color: #39b500;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
	display: flex;
	justify-content: center;
	align-items:  center;
	flex-direction: column;

}

.conteudo-box 
{
	display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
	
}

.box1
{
	background-image: url("img/services-1.png");
}


.box2
{
	background-image: url("img/services-2.png");
}


.box3
{
	background-image: url("img/servies-3.png");
}

.box4
{
	background-image: url("img/servies-3.png");
}


.box1 span,
.box2 span,
.box3 span,
.box4 span
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: calibri;
	font-weight: bold;
	margin-top: 10px;
	
}

.box1 p:nth-child(2),
.box2 p:nth-child(2),
.box3 p:nth-child(2),
.box4 p:nth-child(2)
{
	color: #ffffff;
	font-family: calibri;
	font-size: 23px;
	line-height: 0px;
}

.box1 p:nth-child(3),
.box2 p:nth-child(3),
.box3 p:nth-child(3),
.box4 p:nth-child(3)
{
	font-family: calibri;
	text-align: center;
	width: 250px;
	color: #000000;
	margin: 0px 0px 20px 0px;
	
}

.box1 button,
.box2 button,
.box3 button,
.box4 button

{
	width: 100px;
	height: 50px;
  color: #1252c7;
	background-color: #ffffff;
	border:none;
	outline: none;
	border-radius: 5px;
	margin-bottom: 10px;

}



/* Seção footer */

footer
{
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

footer p
{
	font-family: calibri;
}

footer p:nth-child(1)
{
	font-weight: bold;
	color: #191919;
	line-height: 10px;
	font-size: 30px;
}

footer p:nth-child(2)
{
	font-size: 16px;
	color: #7e7d7d;
	width: 500px;
	text-align: center;
}

.copy
{
	color: #565555;
	font-size: 13px;
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
}